:host {
  display: block;

  * {
    cursor: pointer!important;
  }
  .sticky-top{
    color: #fff;
    text-align: center;

    font-weight: 100;
    margin-left: 0;
    margin-right: 0;

    .fa{
      cursor: pointer!important;
      float: right;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .alert{
    border-color: #37a000;
    background-color: #37a000;
    color: #fff !important;
    z-index: 99;
    border-radius: 0;
  }
}

  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    #text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
    }
  }
}
