I am the SETTINGS component html {{ 'common:intro' | i18nextFormat }}
<br />
<button class="btn btn-info" (click)="changeLanguage('de')">change to 'de'</button>
<button class="btn btn-info" (click)="changeLanguage('en')">change to 'en'</button>
<app-dashboard-settings></app-dashboard-settings>

<h2>User Settings</h2>
<div *ngIf="settings | async as settings">
  <label for="compact_view">Compact View</label>
  <input #compactViewCB type="checkbox" name="compact_view"
      [checked]="settings.compactView"
      (change)="(compactViewCB.checked) ? activateCompactView() : deactivateCompactView()">
</div>
