I am the SETTINGS component html
{{ 'common:intro' | i18nextFormat }}
<app-dashboard-settings></app-dashboard-settings>
<button (click)="changeLanguage('de')">change to 'de'</button>
<button (click)="changeLanguage('en')">change to 'en'</button>

<h2>User Settings</h2>
<div *ngIf="settings | async as settings">
   {{ settings.compactView | json }}

  <label for="compact_view">Compact View</label>
  <input #compactViewCB type="checkbox" name="compact_view"
      [checked]="settings.compactView"
      (change)="(compactViewCB.checked) ? activateCompactView() : deactivateCompactView()">
</div>
